<!--formulario para editar-->
{% include 'header.html' %}
    
    {% for empleado in empleados %}
<br>        
    <form method="POST" action="/update" enctype="multipart/form-data">

        <div class="card">
            <div class="card-header">
                Editar docente
            </div>
            <div class="card-body">
                <h5 class="card-title">Datos del docente</h5>
                <p class="card-text">
                    
                    <input type="hidden" value="{{empleado[0] }}"  name="txtID" id="txtID">
                    
                    <div class="form-group">
                        <label for="txtNombre">Nombre:</label>
                        <input id="txtNombre" value="{{empleado[1] }}" class="form-control" type="text" name="txtNombre">
                    </div>
                    <div class="form-group">
                        <label for="txtCorreo">Correo:</label>
                        <input id="txtCorreo" value="{{empleado[2] }}" class="form-control" type="text" name="txtCorreo">
                    </div>
                    <div class="form-group">
                        <label for="txtFoto">Foto:</label>
                        <img class="img-thumbnail" width="100" height="100" src="{{url_for('uploads', nombreFoto=empleado[3])}}" alt="">
                        <input id="txtFoto" class="form-control" type="file" name="txtFoto">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Modificar">
                        <a class="btn btn-primary" href="{{url_for('index')}}">Regresar</a>
                    </div>

                    <!--
                    <input type="text" value="{{empleado[0] }}"  name="txtID" id="txtID">
                    <br/>
                    Nombre:
                    <input type="text" value="{{empleado[1] }}" name="txtNombre" id="txtNombre">
                    <br>
                
                    Correo:
                    <input type="text" value="{{empleado[2] }}" name="txtCorreo" id="txtCorreo">
                    <br>
                
                    Foto:-->
                    <!--{{empleado[3] }}-->
                    <!--<br/>
                    <img class="img-thumbnail" width="100" height="100" src="{{url_for('uploads', nombreFoto=empleado[3])}}" alt="">
                    <br/>
                    <input type="file"  name="txtFoto" id="txtFoto">
                    <br>
                    <br>
                    <input type="submit" value="Modificar">-->


                </p>
            </div>
        </div>
        
        
    </form>

    {% endfor %}


{% include 'footer.html' %}
